.hidden {
    display: none;
}

.btn {
    margin-bottom: 15px;
}

.results-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #eee;

    .results-title {
        color: #333;
        margin-bottom: 20px;
        font-size: 1.3em;
    }

    .json-container {
        background-color: #f8f9fa;
        border: 2px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        max-height: 30dvh;
        overflow-y: auto;

        pre {
            margin: 0;
            color: #333;
            font-family: 'Courier New', monospace;
            font-size: 0.8em;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        gap: 15px;
        .btn-info {
            width: fit-content;
        }
        .page-buttons-container {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            #pageDisplay {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #333;
                font-weight: 700;
                font-size: 1.1em;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid #ddd;
            }
            .btn-save {
                background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
            }
            .btn-send {
                background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
            }
        }
    }

    .message {
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 600;
        .success {
            background-color: #d4edda;
            color: #155724;
            border-left: 4px solid #28a745;
        }
    }
}
