<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/styles/base.css" />

		<title>JSONs de Videojuegos</title>
	</head>
	<body>
		<div class="container">
			<h1><a href="/">Games' JSON 🎮</a></h1>
			<h3>~ Scrapping de datos de Videojuegos ~</h3>

			{% if error %}
			<div class="error">{{ error }}</div>
			{% endif %}

			<form method="POST" action="/search/1" onsubmit="showContainer('loader')">
				<div class="form-group">
					<label for="platform">Selecciona una plataforma:</label>
					<select name="platform" id="platform" required>
						<option value="">-- Selecciona una opción --</option>
						<option value="ps4">PlayStation 4</option>
						<option value="ps5">PlayStation 5</option>
						<option value="xbox-one">Xbox One</option>
						<option value="xbox-series-xs">Xbox Series</option>
						<option value="nintendo-switch">Nintendo Switch</option>
						<option value="nintendo-switch-2">Nintendo Switch 2</option>
						<option value="pc">PC</option>
						<option value="android">Android</option>
					</select>
				</div>

				<button type="submit" class="btn">🔍 Buscar</button>
			</form>

        	<div class="loader-container"><span class="loader" hidden></span></div>

		</div>

		<script>
			function showContainer(className) {
				document.querySelector(`.${className}`).hidden = false;
			}
		</script>

	</body>
</html>




